body {
  background-color: #e6db94;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #0b9d7e;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: 2px solid #0a032c;
  outline-offset: 4px;
  outline-style: dashed;
}

button:hover {
  background-color: #0a032c;
  transform: scale(1.1);
  transition: transform 0.3s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  max-width: 600px;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000;
  background-color: #ffffff;
  border-radius: 50px;
  outline: 2px solid #0a032c;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 85%;
  margin: 0px 20px;
  gap: 20px;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 20px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.output p {
  color: #b03820;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 50px;
  background-color: #d3c760;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
